.main-input {
  /* background: #fff;
  height: 50px;
  width: 327px;
  color: #a7b1ab;
  border: 1px solid #cccccc;
  margin-bottom: 0px;
  -webkit-appearance: none;
  border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  -webkit-border-radius: 4px 0px 0px 4px;
  display: inline-block;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  padding: 0px 0px 0px 57px;
  font-size: 16px;
  border-right: 0px; */
  background: url("./search-icon.png") top left no-repeat;
  /* background-size: 18px 18px; */
  /* float: left; */
}

.ui-lib-search {
  /* background: url("./icon.png") no-repeat; */
  background-size: contain;
  background-color: white;
  background-blend-mode: multiply;
}