.ui-lib-footer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  background: rgba(10, 22, 70, 0.05999999865889549);

  th,
  td {
    min-width: 100px;
    border-right: 10px solid transparent;
    font-size: 14px;
    padding-right: 94px;
  }

  img {
    height: 18px;
    width: 18px;
    margin-right: 20px;
  }
}