.ui-lib-card {
  margin: 10px 5px;
  min-width: 100px;
  max-width: 280px;
  height: 400px;
  border: 3px solid black;

  &__img {
    img {
      min-width: 100px;
      max-width: 274px;
      max-height: 192px;
    }
  }

  &__tag {
    color: green;
    background: #a0dcbb;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0px 3px 4px 0px #928e8e;
    text-transform: uppercase;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 20px;
    }

  }

  &__text {
    color: #0081b5;
    font-size: 17px;
  }

  &__title {
    position: relative;
    margin: 10px 20px;
  }

  &__group {
    position: relative;
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__hr {
    margin: 1rem;
  }
}